.pageMenuButton {
  min-width: 33px;
  padding: 5px;
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.pageMenuButton:hover {
  background-color: rgb(51, 51, 51);
  text-decoration: underline;
  color: white;
  text-decoration-color: deeppink;
}
.active {
  background-color: rgb(51, 51, 51);
  color: white;
}
