.nav {
  width: 100%;
}
.ul {
  list-style: none;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.ul button {
  margin: 5px;
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}
.ul li :hover {
  background-color: red;
  cursor: pointer;
  text-decoration: underline;
}
.ul li :active {
  background-color: red;
}
