.detailsWrapperCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  grid-gap: 10px;
  margin-top: 10px;

  background-color: rgba(36, 36, 36, 0.8);
  color: white;
}
