.apiDetails {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  background-color: white;
  text-align: left;
  margin: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: auto;
  color: black;
}
.apiDetails p {
  margin: 5px;
}
@media only screen and (max-width: 768px) {
  .apiDetails {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
